

<div class="row">
<div class="span4">

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: "well"}) do |f| %>

	<fieldset>
		<legend>Sign in</legend>
  <%= f.input :email %> 
  <%= f.input :password %>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.input :remember_me, as: :boolean %></div>
  <% end -%>

  <div><%= f.button :submit, "Sign in" %></div>
</fieldset>
<% end %>


</div>
<div class="span 8">
		<h2> Coming soon!</h2>
    <p class="lead">Members can easily log into the website<br> and dynamically request late plates.<br> (This will happen as soon as wyatt can get his ruby ajax figured out.) </p>
	</div>

</div>